.LinkGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.LinkGridItem {
  font-size: 1.75vw;
  text-align: center;
  cursor: pointer;
}

.LinkGridItemRemoveButton {
  display: block;
  margin: auto;
}

.LinkGridItemWithButton {
  padding: 5vw;
}
