.LinkGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.LinkGridItem {
  padding: 20px;
  font-size: 1.75vw;
  width: 20vw;
  height: 7.5vw;
  text-align: center;
  background-color: darkslategrey;
}
