.Popup {
  background-color: grey;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25vw;
  height: 50vh;
  z-index: 1; /*So that the div below the popup can be queried to see if the 
                popup should be hidden*/
}
